<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎页</title>
</head>
<body>
<h2>欢迎您来到北理珠医院预约系统!</h2>
    <p>
        友情提示：2022年5月5日起，北京市各医疗机构就诊时需提供48小时内核酸阴性证明。最终以各医院规定为准。<br>
        <span style="color:red">来自或去过中/高风险地区患者，须持珠海7日内正规机构核酸阴性证明，否则不能就诊。</span><br>
        1：每位患者仅允许一位家属陪同。<br>
        2.预约301医院口腔科号源，需持3天内核酸检测阴性结果报告<br>
        3. 首次预约患者,预约时必须填写“亲属姓名”用于建档备查，首次填写后无需再填写。<br>
        4.预约成功的医保报销用户请首先确保为本院定点医保用户，首次来院就诊时需到窗口关联医保卡后，再到医院医保自助机取号就诊。预约成功的自费用户请在非医保自助机取号就医。<br>
        5.使用身份证以外其它证件注册预约的患者，只能到窗口取号。<br>
        6. 本院【小儿科】只预约小于14周岁(不包含14周岁)的患儿。<br>
        7.预约成功后，请患者于就诊当日携带患者本人的有效证件、银行卡、医保卡、及预约识别码到医院自助挂号机上进行取号（医保报销用户须在医保自助机取号，在非医保自助机取号为自费），如预约登记信息有误，则无法正常取号就诊。<br>
        8.本院【口腔科】下的小儿牙科只对12周岁以下患儿预约。<br>
        9. 医院规定同一科室同一天只能预约一个号源。
    </p>
</body>
</html>