<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加预约页面</title>
    <script type="text/javascript" th:src="@{/static/js/jquery-3.6.0.min.js}"></script>
    <link th:href="@{/static/bootstrap-3.4.1-dist/css/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
</head>
<body>
<!--搭建添加预约信息页面-->
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
                <form th:action="@{/Sch}" method="post">
                    预约日期：<input type="date" name="searchDate" class="search">
                    预约时间：<input type="text" name="searchTime" list="searchTimeList" class="search">
                    <datalist id="searchTimeList">
                        <option>上午</option>
                        <option>下午</option>
                    </datalist>
                    <input type="submit" value="查询" id="search">
                </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <th>预约日期</th>
                    <th>预约时间</th>
                    <th>科室</th>
                    <th>诊室</th>
                    <th>医生</th>
                    <th>预约人数上限</th>
                    <th>已预约人数</th>
                    <th colspan="2">操作</th>
                </tr>
                <tr th:each="sch : ${schList}">
                    <form th:action="@{/Interview}" method="post">
                        <input type="hidden" name="schId" th:value="${sch.schId}">
                        <input type="hidden" name="schDate" th:value="${sch.schDate}">
                        <td th:text="${sch.schDate}"></td>
                        <input type="hidden" name="schTime" th:value="${sch.schTime}">
                        <td th:text="${sch.schTime}"></td>
                        <td th:text="${sch.surgery.office.oName}"></td>
                        <input type="hidden" name="surId" th:value="${sch.surgery.surId}">
                        <td th:text="${sch.surgery.surSite}"></td>
                        <input type="hidden" name="doctor.dId" th:value="${sch.doctor.dId}">
                        <td th:text="${sch.doctor.dName}"></td>
                        <input type="hidden" name="schSize" th:value="${sch.schSize}">
                        <td th:text="${sch.schSize}"></td>
                        <input type="hidden" name="schBooked" th:value="${sch.schBooked}">
                        <td th:text="${sch.schBooked}"></td>
                        <td>
                            <input type="submit" value="添加预约">
                        </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>