<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的预约信息</title>
    <script type="text/javascript" th:src="@{/static/js/jquery-3.6.0.min.js}"></script>
    <link th:href="@{/static/bootstrap-3.4.1-dist/css/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>预约日期</th>
                    <th>预约时间</th>
                    <th>科室</th>
                    <th>诊室</th>
                    <th>预约医生</th>
                    <th>操作</th>
                </tr>
                <tr th:each="interview:${interviewList}">
                    <td th:text="${interview.iDate}"></td>
                    <td th:text="${interview.iTime}"></td>
                    <td th:text="${interview.doctor.surgery.office.oName}"></td>
                    <td th:text="${interview.doctor.surgery.surSite}"></td>
                    <td th:text="${interview.doctor.dName}"></td>
                    <td>
                        <a th:href="@{'/DelInterview/'+${interview.iId}}">取消预约</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>