<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <script type="text/javascript" th:src="@{/static/js/jquery-3.6.0.min.js}"></script>
    <link th:href="@{/static/bootstrap-3.4.1-dist/css/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-horizontal" th:action="@{/patient}" method="post">
                <input type="hidden" name="_method" value="put">
                <input type="hidden" name="pId" th:value="${patient.pId}">
<!--                用户名-->
            <div class="form-group">
                <label for="pUsername" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" name="pUsername" class="form-control" id="pUsername" th:value="${patient.pUsername}">
                </div>
            </div>
<!--                密码-->
            <div class="form-group">
                <label for="pPwd" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" name="pPwd" class="form-control" id="pPwd" th:value="${patient.pPwd}">
                </div>
            </div>
<!--                姓名-->
                <div class="form-group">
                    <label for="pName" class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                        <input type="text" name="pName" class="form-control" id="pName" th:value="${patient.pName}">
                    </div>
                </div>
<!--                性别-->
            <div class="form-group">
                <label class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="pSex" id="inlineRadio1" value="男" th:checked="*{patient.pSex eq '男'}"> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="pSex" id="inlineRadio2" value="女" th:checked="*{patient.pSex eq '女'}"> 女
                    </label>
                </div>
            </div>
<!--                年龄-->
            <div class="form-group">
                <label for="pAge" class="col-sm-2 control-label">年龄</label>
                <div class="col-sm-10">
                    <input type="text" name="pAge" class="form-control" id="pAge" th:value="${patient.pAge}">
                </div>
            </div>
<!--                电话-->
            <div class="form-group">
                <label for="pNum" class="col-sm-2 control-label">电话</label>
                <div class="col-sm-10">
                    <input type="text" name="pNum" class="form-control" id="pNum" th:value="${patient.pNum}">
                </div>
            </div>
<!--                过敏药物-->
            <div class="form-group">
                <label for="pMed" class="col-sm-2 control-label">过敏药物</label>
                <div class="col-sm-10">
                    <input type="text" name="pMed" class="form-control" id="pMed" th:value="${patient.pMed}">
                </div>
            </div>
<!--                病史-->
            <div class="form-group">
                <label for="pIll" class="col-sm-2 control-label">病史</label>
                <div class="col-sm-10">
                    <input type="text" name="pIll" class="form-control" id="pIll" th:value="${patient.pIll}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">修改</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
</body>
</html>